@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.Card {
    font-family: 'Oswald';
    /*width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.Card h2{
    font-weight:unset;
    font-size:30px;
}

.Card button{
    background-color: white;
    color: black;
    font-size:15px;
    border: 1px solid gray;
    transition-duration: 0.4s;
    width: 20%;
    margin: 15px;
    height: 40px;

}

.Card button:hover {
    background-color: rgb(184, 184, 184); 
    color: black;
}

.row button{
    margin-top: 29px;
    /*margin-right:2px;*/
}

.saveButton Button{
    border-color: green;
    transition: background-color 0.5s;
}

.saveButton Button:hover{
    color: aliceblue;
    background-color: green;
}

.cancelButton Button{
    border-radius: 1.5 10px;
    border-color: red;
    transition: background-color 0.5s;
}

.cancelButton Button:hover{
    color: aliceblue;
    background-color: red;
}

.table {
    height: 350px;
    overflow-y: auto;
}

.footer {
    position: fixed;
    bottom: 5%;
    width: 100%;
    height: 10%; 
    padding-right: 10%;   
    text-align: right;
    line-height: 100px;
}

.footer strong{
    color: red;
    font-size: 42px;
}

.cardNovoPedido{
    margin-top:10px;
    border-radius: 15px;
    border:1px;
    padding: 20px;
    border-style: solid ;
    border-color: #404040;
}

.nomeCliente{
    color: #003366;
    font-weight: 50px;
}

.nomeModalidade{
    color: #003366;
    font-weight: 50px;
}