@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.button-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardDashboard {
    font-family: 'Oswald';
}

.cardDashboard h2{
    font-weight:unset;
    font-size:30px;
}

.button-group Button{
    padding:10px;
    margin-bottom:10px;
    cursor:pointer;
}

.buttonOpcoes{
    display:flex;
    margin-bottom:10px;
}

.buttonOpcoes Button{
    margin-left:10px;
    cursor:pointer;
}

.table{
    position: absolute;
    left:0px;
    width:100%;
    overflow: scroll;
}
input{
    border-radius: 5px;
}