@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.Card {
    font-family: 'Oswald';
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card h2{
    font-weight:unset;
    font-size:30px;
}

.Card button{
    background-color: white;
    color: black;
    font-size:15px;
    border: 1px solid gray;
    transition-duration: 0.4s;
    width: 20%;
    margin: 15px;
    height: 40px;

}

.Card button:hover {
    background-color: rgb(184, 184, 184); 
    color: black;
  }